nav.nav.justify-content-evenly.mb-1
   a.nav-link.p-1(href="/about") About Us
   a.nav-link.p-1(href="/services") Services
   a.nav-link.p-1(href="/team") Team
   a.nav-link.p-1(href="/contact") Contact