extends layout

block content
    include includes/navbar.pug
    h1.text-center.display-3.text-capitalize.my-5.slideFromTop #{title}
    
    .container.slideFromBottom
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa quisquam facere voluptatum dolorem vero veritatis ab magni eveniet laudantium? Voluptates.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium vel voluptas aut corrupti quis consectetur sapiente ratione fugit facere temporibus doloremque minima pariatur fuga iure aspernatur, nostrum perspiciatis magnam reprehenderit, tempore id adipisci porro. Deserunt ipsum suscipit maxime earum ipsa?
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt vero cum magnam molestias obcaecati quia earum distinctio. Voluptatem, nam assumenda.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad obcaecati placeat voluptate unde deleniti officia, quo rerum corrupti laboriosam temporibus amet voluptatem culpa, nisi, eveniet nam possimus tempore vero est?