extends layout

block content
    include includes/admin_navbar.pug
    include includes/alert.pug
    h1.display-4.text-center.my-5 Lecturer Users
    div#table-container
        table.table.table-bordere
            thead
                tr
                th(scope='col') ID
                th(scope='col') Name
                th(scope='col') email
                th(scope='col') remove
            tbody
                each val in lecturers
                    tr  
                        th(scope='row') #{val.id}
                        td #{val.name}
                        td #{val.email}
                        td 
                            button.btn.btn-sm.btn-outline-secondary(id=val.id onclick="")
                                i.bi.bi-trash-fill.-success