extends layout

block content
  h1.my-2.text-center Choose a Department
  div.text-center 
    each val in departments
      a(href=`/lecturer/${val.id}`, style={width:'12rem'}).shadow-sm.d-block.btn.btn-outline-secondary.my-2.mx-auto #{val.name}