extends layout

block content
    #landing.px-4.py-5.text-light.text-center
      p.slideFromLeft Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas dicta amet ab facilis eaque esse?
      p.slideFromRight Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat quas laudantium vel ut quidem dolorem hic soluta maxime. Et, praesentium.
      .my-4.slideFromBottom
        a.btn.btn-primary(href="auth/register") register
      .my-4.slideFromBottom
        p.small already registered?
        a.btn.btn-success(href="auth/login") Login
