extends layout

block content
   .container
      h2.display-4.text-center login
      form#login-form.mt-5.mx-auto
         .mb-3
            label.form-label(for='exampleInputEmail1') Email address
            input#exampleInputEmail1.form-control(type='email' aria-describedby='emailHelp')
            #emailAlert.form-text.text-danger email alert here.
         .mb-3
            label.form-label(for='exampleInputPassword1') Password
            input#exampleInputPassword1.form-control(type='password')
            #pwdAlert.form-text.text-danger passowrd alert here.
         .mb-3.form-check
            input#exampleCheck1.form-check-input(type='checkbox')
            label.form-check-label(for='exampleCheck1') remember me
         .text-center.fs-4.mb-3 login as:
         .d-flex.justify-content-between
            button.btn.btn-primary.w-50.me-1 Student  
            button.btn.btn-secondary.w-50.ms-1 lecturure