extends layout

block content
   .px-4.bg-image.text-light
      h2.display-4.text-center.pt-4.slideFromTop login
      form#login-form.mt-4.mx-auto.slideFromLeft
         .mb-3
            label.form-label.text-shadow-sm(for='exampleInputEmail1') Email address
            input#login-email.form-control.shadow-sm(type='email' aria-describedby='emailHelp' required)
            #emailAlert.form-text.text-danger
         .mb-3
            label.form-label.text-shadow-sm(for='exampleInputPassword1') Password
            input#login-password.form-control.shadow-sm(type='password' required)
            #passwordAlert.form-text.text-danger
         //- .mb-3.form-check
         //-    input#login-remember.form-check-input(type='checkbox')
         //-    label.form-check-label(for='exampleCheck1') remember me

         .d-flex.justify-content-evenly
            .form-check
               input#role1.form-check-input(type='radio' name='role' value='student' checked='')
               label.form-check-label(for='role')| Student
            .form-check
               input#role2.form-check-input(type='radio' name='role' value='lecturer')
               label.form-check-label(for='role')| Lecturer

         div.text-center.mt-5
            button.btn.btn-primary.w-50(onclick="login_post(event)") Login 
            
                  