extends layout

block content
   .px-4.bg-image.text-light
      h2.display-4.text-center.pt-4.slideFromTop login
      form#login-form.mt-4.mx-auto.slideFromLeft
         .mb-3
            label.form-label.text-shadow-sm(for='exampleInputEmail1') Email address
            input#exampleInputEmail1.form-control.shadow-sm(type='email' aria-describedby='emailHelp')
            #emailAlert.form-text.text-danger
         .mb-3
            label.form-label.text-shadow-sm(for='exampleInputPassword1') Password
            input#exampleInputPassword1.form-control.shadow-sm(type='password')
            #pwdAlert.form-text.text-danger
         .mb-3.form-check
            input#exampleCheck1.form-check-input(type='checkbox')
            label.form-check-label(for='exampleCheck1') remember me
         .text-center.fs-4.mb-3 login as:
         .d-flex.justify-content-between
            button.btn.btn-primary.w-50.me-1 Student  
            button.btn.btn-secondary.w-50.ms-1 lecturure