#table-container {
  /* border: 1px solid rgb(189, 189, 189); */
  overflow-x: scroll;
  width: 95%;
  height: 70vh;
  overflow-y: scroll;
  margin: 0 auto;
  /* box-shadow: inset 0 0 11px #9d9d9d75; */
}
#table-container textarea {
  /* display: none; */
  width: 120px;
  height: 40px;
}
.container-scroll {
  height: 60vh;
  overflow-y: scroll;
  border-top: 1px solid rgba(158, 158, 158, 0.5);
  border-bottom: 1px solid rgba(158, 158, 158, 0.5);
}

@media screen and (max-width: 600px) {
  table {
    font-size: .6rem;
    font-weight: bold;
    padding: 0px;
  }
  td {
    padding: 0px;
  }
}
#login-form {
  max-width: 30rem;
}
.text-shadow-sm {
  text-shadow: 0 0.1rem 0.3rem rgba(0,0,0,.15)!important;
}
/* COLORS */
.bg-purple-grad {
  /* background-color: #3f51b5; */
  background-color: #4158D0;
  background-image: linear-gradient(180deg, #4158D0 0%, #6254d6 68%);
}
.bg-purple {
  background-color: #4157d0;
}
/* ANIMATIONS */
.slideFromLeft {
  animation: slideFromLeft 1s forwards;
}
@keyframes slideFromLeft {
  0% {
    opacity: 0.5;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.slideFromRight {
  animation: slideFromRight 1s forwards;
}
@keyframes slideFromRight {
  0% {
    opacity: 0.5;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.slideFromTop {
  animation: slideFromTop 1s forwards;
}
@keyframes slideFromTop {
  0% {
    opacity: 0.5;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.slideFromBottom {
  animation: slideFromBottom 1s forwards;
}
@keyframes slideFromBottom {
  0% {
    opacity: 0.5;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.fadeIn {
  animation: fadeIn 1s forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

/* LANDING */
.bg-image {
  background: linear-gradient(0deg, rgb(0 0 0 / 47%), #000000a1), url(/images/students2.jpeg) no-repeat center;
  background-size: cover;
  min-height: 90vh;
}
#landing {
  background: linear-gradient(0deg, rgb(0 0 0 / 47%), #000000a1), url(/images/students.jpeg) no-repeat center;
  height: 88vh;
  background-size: cover;
}

/* ALERT */
#alert-box {
  display: none;
  /* display: flex; */
  justify-content: space-between;
}
#alert-box i {
  cursor: pointer;
}


.lecturer-btn:hover {
  background: linear-gradient(180deg, #4159d0b0 0%, #6154d6b1 68%);
  box-shadow: 0px 0px 10px 2px #adb5bd;
  border: none;
  transition: .5s;
}